#cv {
    color: black;
    background-color: #EEEEEE;
    padding-top: 230px;
    font-family: Calibri, sans-serif;
    position: relative;
}

.icon::before {
    vertical-align: top;
}

h1 {
    color: #777777;
    font-family: arial;
    letter-spacing: 15px;
    position: relative;
}

h2 {
    text-align: left;
    margin: 0;
}

.container {
    display: inline-block;
}
.container.center {
    text-align: center;
}
.container-centered {
    text-align: left;
    display: inline-block;
}



/* ID */
#container_id .container {
    color: #777777;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: top;
}
#container_id .container > * {
    display: block;
    margin-bottom: 5px;
}
#container_id .name {
    color: black;
    margin-left: 5px;
    font-size: 42px;
}
#container_id .info_box {
    text-align: left;
    display: inline-block;
}
#container_id .info_box > * {
    margin-bottom: 4px;
    display: inline-block;
}
#animation1, #animation2 {
    color: #ddd;
    font-family: "WebAtlas";
    position: absolute;
    animation: icon-rotation 6s linear infinite;
}
#animation1 {
    font-size: 9em;
    top: 268px;
    right: 118px;
}
#animation2 {
    font-size: 7em;
    top: 200px;
    right: 38px;
    animation-direction: reverse;
}

@keyframes icon-rotation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/* LINKS */
#container_links {
    font-size: 12px;
    position: absolute;
    top: 18px;
    right: 18px;
}
#container_links a {
    color: #777777;
    margin-bottom: 7px;
    display: block;
}
#container_links a img {
    height: 14px;
    margin-right: 6px;
    vertical-align: top;
}


/* REALISATION */



/* COMPETENCES */



@media (max-width: 680px) {
    #cv {
        padding: 20px;
    }

    #animation1 {
        font-size: 6em;
        top: 416px;
        right: 83px;
    }
    #animation2 {
        font-size: 4.5em;
        top: 364px;
        right: 36px;
    }

    .container, .container-centered, .accordion, #container_id, #container_links, #container_id .container {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .realisation {
        margin: 2em 0;
    }

    h1 {
        font-size: 25px;
        margin: 40px 0;
        letter-spacing: 10px;
    }

    h2 {
        text-align: center;
    }
}