html {
    height: 100%;
    overflow-x: hidden;
}
body {
    height: 100%;
    margin: 0;
    padding: 50px 8px;
    color: #ddd;
    box-sizing: border-box;
    font-family: "Calibri";
    background:
        radial-gradient(ellipse farthest-corner at 50% 150%, rgba(0, 0, 0, 0.4) 0%, #313138 100%),
        center url(../img/pixel.png),
        #8d8d8d;
    background-size:
        auto,
        5px,
        auto;
    background-attachment: fixed;
}
#menuTop {
    width: 100%;
    line-height: 0;
    border-radius: 0;
    padding: 7px 20px;
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
#menuTop .btn {
    display: inline-block;
}
#btns {
    float: right;
    vertical-align: top;
}
#btns .btn {
    width: 40px;
    font-size: 19px;
    text-align: center;
    border-radius: 0;
    border-right-width: 0;
}
#btns .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#btns .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
}
#btn_portfolio {
    max-width: 100%;
    padding-left: 4px;
    padding-right: 8px;
    font-size: 18px;
    border-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
}
#btn_portfolio .icon {
    line-height: 25px;
    font-size: 24px;
    vertical-align: top;
}
#btn_arrowUp {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    font-size: 22px;
    border-radius: 100%;
    box-sizing: border-box;
    opacity: .0;
    cursor: default;
    transition: .5s;
    z-index: 3;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.btn {
    height: 36px;
    line-height: 24px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .2s;
    box-sizing: border-box;
}
.btn:hover {
    background-color: rgb(50, 132, 255);
}


@media (max-width: 350px) {
    #menuTop {
        padding: 7px;
    }
    #btns {
        width: 100%;
        float: none;
        margin-top: 8px;
        display: block;
    }
    #btns .btn {
        width: 33.3%;
    }
}